<h2>You Used The Cross-Fade Transition</h2>
<p>
    It fades out the old content while fading in the new content.
</p>
{{#link-to 'transitions.index' class="btn btn-success" tagName="button"}}Go Back{{/link-to}}