{{#link-to 'about' tagName="button" class="btn btn-info btn-large"}}View The Transition Map{{/link-to}}
<table class="table">
  <thead>
  <tr>
      <th>#</th>
      <th>Transition</th>
      <th>Effect</th>
  </tr>
  </thead>
  <tbody>
  {{#link-to 'transitions.default' tagName="tr"}}
      <td>1</td><td>Default</td><td>None</td>
  {{/link-to}}
  {{#link-to 'transitions.fade' tagName="tr"}}
      <td>2</td><td>Fade</td><td>Fade Out, then Fade In</td>
  {{/link-to}}
  {{#link-to 'transitions.cross-fade' tagName="tr"}}
      <td>2</td><td>Cross Fade</td><td>Fade Out while Fading In</td>
  {{/link-to}}
  </tbody>


</table>