<h2>You used the move-over transition</h2>
<p>
    It moves the content some direction (we set it to 50% x).
</p>
{{#link-to 'transitions.index' class="btn btn-success" tagName="button"}}Go Back{{/link-to}}